//
   Created by rahulguha on 23/02/14.

doctype html
html
    include branding/title


    link(rel='stylesheet', href='greetings.css')




    body
        include branding/header
        p this is content
        img(src="http://cdn-new-annectos.s3.amazonaws.com/images/liberty/n/7123-120black.jpg")
        include branding/footer

